<div class="container">
  <div class="left">
    <h2>Users</h2>
    <hr />
    <h3 *ngFor="let user of users">{{user.username}}</h3>
  </div>
  <div class="right">
    <div class="chat-messages">
        <!-- <h2>John</h2> -->
        <hr />
        <div *ngFor="let message of messages">
          <p>{{message.message}}</p>
          <p class="timestamp">Posted by {{message.username}} on {{message.timestamp}}</p>
        </div>
    </div>
    <div class="chat-form">
      <input [formControl]="chatInput" type="text" id="chat-input" placeholder="Enter your message here">
      <button id="submit-form" (click)="onSubmit()">Submit Message</button>
    </div>
  </div>
  
</div>
<router-outlet></router-outlet>